* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #b2eee1, #29665d);
    color: #dedede;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-principal {
    width: 70%;
    max-width: 600px;
    min-height: 350px;
    padding: 2rem;
    border-radius: 20px;
    color: #000;
    background-color: #ededed;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.imagen-circular {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #29665d; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagen-circular img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.contenedor-principal h1{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #15927f;
}
.contenedor-formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0.6rem;
}
.form-group label{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}
::placeholder {
    color: #888; 
    font-style: italic; 
    opacity: 1; 
}
.form-group input{
    margin-top: 0.4rem;
    border-radius: 20px;
    padding: 0.7rem;
    
}

.checkbox-group {
    align-self:flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 1.4rem;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 0.5rem; 
    
}

.checkbox-group label {
    font-size: 1rem; 
    color: rgba(0, 0, 0, 0.3);
}

#boton-enviar{
    background-color: #36d6be;
    border: 1px solid #36d6be;
    color: white;
    font-size: 1rem;
    width: 90%;
    padding: 1rem;
    border-radius: 30px;
    margin: 1rem 0;
    transition: all .3s ease;
}
#boton-enviar:hover{
    cursor: pointer;
    background-color: #269b89;
    border: 1px solid #269b89;
}

.links{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem 0;
}
.links a{
    text-decoration: none;
    color: #15927f;
    font-weight: bold;
    transition: all .3s ease;
}
.links a:hover{
    border-bottom: 1px solid #15927f;
}
@media screen and (max-width:575px){
    .links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .links a{
        margin: 0.4rem 0;
    }
    
}

.alternativa{
    margin: 1rem;
}
.alternativa p{
    user-select: none;
    color: #888; 
    font-style: italic; 
    opacity: 1; 
}

.google-container {
    height: 100%;
    width: 100%;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    user-select: none;
}
.google-container{
    text-decoration: none;
}
.google-container:hover{
    cursor: pointer;
}
.google-container img{
    margin-left: 0.8rem;
    width: 1.7rem;
    height: 1.7rem;
}
.google-container span{
    margin: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
}



/* .google-container{
    height: 100%;
    align-self: start;
}

.google-button{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 2rem;
    display: inline-block;
    height: 3rem;
    background-color: #4285f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125);
    transition: all .218s;
}
.google-button:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px rgba(66,133,244, .3);
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
}
.google-button:active{
    background-color: #3367d6;
    transition: all .2s;
}
.google-button .content-wrapper{
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
}

.google-button img{
    width: 1.1rem;
    height: 1.1rem;
    align-self: start;
}

.google-button .logo-wrapper{
    padding: 1rem;
    background: #fff;
    width: 20%;
    height: 100%;
    border-radius: 5px;
    display: inline-block;
}

.google-button .text-container{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    
    font-size: 1rem;
    vertical-align: top;
    border: none;
    display: inline-block;
    text-align: center;
    width: 10rem;
}
 */
